.side-bar
  .side-bar__header
    .side-bar__header__box
      %p.user-name
        = current_user.name
      %ul.btn
        %li.btn__group
          = link_to new_group_path, class:"edit" do
            = icon('far', 'edit')
        %li.btn__user
          = link_to edit_user_path(current_user), class:"cog" do
            = icon('fas', 'cog')
  .side-group
    - current_user.groups.each do |group|
      .side-group-list
        = link_to group_messages_path(group) do
          .side-group-list__name
            = group.name
          .side-group-list__massage
            = group.show_last_message
   